extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Send Email
            form.form.form--forgot
                .form__group
                    label.form__label(for='forgot-email') Email address
                    input#forgot-email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button#forgot-btn.btn.btn--green Send