extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Resest Password
            form.form.form--reset
                .form__group
                    label.form__label(for='reset-password') Password
                    input#reset-password.form__input(type='password', placeholder='••••••••', required)
                .form__group
                    label.form__label(for='reset-password-confirm') Confirm Password
                    input#reset-password-confirm.form__input(type='password', placeholder='••••••••', required)
                .form__group
                    button#reset-btn.btn.btn--green Reset